.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: visibility var(--transition-start-time) var(--cubic-bezier);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
