@media screen and (max-width: 1199px) {
  .mobail-menu {
    z-index: 44;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: var(--title-text-color-footer);
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &__container {
      position: relative;
      padding-top: 48px;
      padding-bottom: 48px;
      padding-left: 25px;
    }

    &__close {
      width: 19px;
      height: 19px;
    }

    &__close-btn {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 10px;
      right: 15px;
      border: none;
      background-color: transparent;
      padding: 0;
      transition: fill var(--transition-start-time) var(--cubic-bezier);
      &:hover,
      &:focus {
        fill: var(--button-hover-focus);
      }
    }

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    &__item:not(:last-child) {
      margin-bottom: 32px;
    }
    &__link {
      letter-spacing: 0.02em;
      @include font(40px, 500, 47px);
      color: var(--title-text-color);
      &:hover,
      &:focus,
      &.current {
        color: var(--accent-color);
      }
    }

    &__contact-mail-link {
      letter-spacing: 0.02em;
      @include font(24px, 500, 28px);
      color: var(--primary-text-color);
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
    &__contact-phone-link {
      letter-spacing: 0.02em;
      @include font(34px, 500, 40px);
      color: var(--title-text-color);
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
    &__nav {
      margin-bottom: 302px;
    }
    &__social {
      display: flex;
      flex-wrap: wrap;
    }
    &__contact-phone {
      margin-bottom: 32px;
    }
    &__contact-mail {
      margin-bottom: 64px;
    }
    &__social-item {
      &:not(:first-child) {
        padding-left: 10px;
      }
      &:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
      }
    }
    &__social-link {
      @include font(18px, 500, 22px);
      letter-spacing: 0.02em;
      color: var(--accent-color);
    }
  }

  .header__mobail-menu {
    width: 24px;
    height: 16px;
    &-btn {
      position: absolute;
      top: 10px;
      right: 15px;
      padding: 0;
      width: 40px;
      height: 40px;
      border: 0;
      background-color: transparent;
      cursor: pointer;
      transition: fill var(--transition-start-time) var(--cubic-bezier);
      &:hover,
      &:focus {
        fill: var(--button-hover-focus);
      }
    }
  }
}
