:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-hero-footer: #2f303a;
  --logo-nav: #000000;
  --title-text-color-footer: #ffffff;
  --button-hover-focus: #188ce8;
  --background-our-team-filter: #f5f4fa;
  --footer-mail-phone: rgba(255, 255, 255, 0.6);
  --background-hero: #c4c4c4;
  --icon-fill: #afb1b8;
  --transition-start-time: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
